[submodule "operating_system-openbsd"]
	path = operating_system-openbsd
	url = ../operating_system-openbsd
	branch = main
[submodule "operating_system-posix"]
	path = operating_system-posix
	url = ../operating_system-posix
	branch = main
